.header {
  background-color: white;
  text-align: center;
  padding-bottom: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 2;
}
.navbar {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}
.navbar-collapse {
  justify-content: center;
  align-items: center;
}
.nav__item {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  position: relative;
}
.nav__item::before {
  content: "";
  height: 3px;
  width: 0%;
  background: gray;
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 0.4s ease-out;
}
.nav__item:hover::before {
  width: 100%;
}
.nav__link {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 14px;
}
.hero {
  margin: 2rem 0;
  padding: 2rem 0;
  color: black;
}
.video {
  position: fixed;
  transform: translate(-50%);
  top: 20%;
  left: 50%;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
.hero__content {
  position: static;
  z-index: 2;
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5rem;
}
.hero__tittle {
  font-family: "Satisfy", cursive;
  font-size: 42px;
  margin-top: 2rem;
  padding-bottom: 0.5rem;
}
.hero__subtittle {
  font-size: 25px;
}
.hero__description {
  text-align: center;
  font-size: 15px;
}
.section {
  position: relative;
  padding-top: 2rem;
}
.section__content {
  text-align: center;
  color: white;
}
.section__img {
  margin: auto;
  display: block;
  width: 200px;
  height: 150px;
  padding-bottom: 1.5rem;
}
.section__galery {
  position: relative;
  padding-top: 2rem;
}
.galery__tittle {
  font-size: 38px;
}
.galery__content {
  text-align: center;
  margin-top: 3rem;
  color: white;
}
.carousel {
  margin: 2rem 1rem;
  max-width: 800px;
}
.footer {
  background-color: white;
  text-align: center;
  list-style-type: none;
  padding-top: 2rem;
  color: black;
}
.footer__newsletter {
  font-family: "Zilla Slab", serif;
  font-size: 18px;
  font-weight: bold;
}
.footer__social {
  font-family: "Zilla Slab", serif;
  font-size: 16px;
  font-weight: bold;
}
.social__item {
  list-style-type: none;
}
.social__link {
  color: black;
  font-size: 16px;
}
.footer__about {
  font-family: "Zilla Slab", serif;
  font-size: 16px;
  font-weight: bold;
}
.about__item {
  list-style-type: none;
}
/* MEDIA QUERIE */
@media (min-width: 768px) {
  .section__content {
    text-align: right;
  }
  .section__img {
    width: 400px;
    height: 300px;
    padding-bottom: 1.5rem;
  }
  .galery__content {
    text-align: left;
    padding-bottom: 1.5rem;
  }
  .carousel {
    margin: 2rem 1rem;
    max-width: 800px;
    width: 400px;
    height: 300px;
  }
  .carousel-item {
    width: 400px;
    height: 300px;
  }
}
@media (min-width: 1020px) {
  .nav__link {
    font-size: 17px;
  }
  .carousel {
    margin: 2rem 1rem;
    max-width: 800px;
    width: 700px;
    height: 400px;
  }
  .carousel-item {
    width: 800px;
    height: 400px;
  }
  .section__img {
    width: 500px;
    height: 300px;
    padding-bottom: 1.5rem;
  }
}
/* nosotros estilos */
.body__nosotros {
  background-color: #594c32e3;
}
.section__antepasado {
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),
    url(../imagenes/NOSOTROS-CASAVIEJA.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: right;
  margin: 0.5rem 0;
  padding: 8rem 0;
}
.section__elpueblo {
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),
    url(../imagenes/NOSOTROS-PUEBLO.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: left;
  margin: 2rem 0;
  padding: 8rem 0;
}

/*contacto estilos*/
.section__info {
  text-align: center;
}
.info-iconos svg {
  width: 50px;
  height: 70px;
}
.section__hero {
  text-align: center;
  color: white;
  padding: 7rem 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #594c32e3;
}
/* explora el lodge estilos */
.article {
  background-color: #f2f4f4;
  text-align: center;
  margin: 3rem 4rem;
  padding: 3rem;
}
.article__img {
  width: 500px;
  height: 400px;
}
.tittle {
  margin-top: 5rem;
}
